*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

svg{
    height: 100%;
    width: 700px;
    border-radius: 20px;
    padding: 50px;
    background-color: #0000001f;
}

#front-wheel, #back-wheel{
    animation: wheel 2s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#bike-body{
    animation: bike-body 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

@keyframes wheel {
    from {
        transform: rotateZ(0deg);
    }to {
        transform: rotateZ(360deg);
    }
}

@keyframes bike-body {
    from {
        transform: rotateX(0deg);
    }to {
        transform: rotateX(20deg);
    }
}